.decor-circles 
  display: inline-block
  vertical-align: middle
  font-size: 0
  &__first 
    display: inline-block
    vertical-align: top
    width: 49px
    height: 49px
    background: url('../img/decor-circles.png') 0 0
    transition: all 1.5s
  &__second
    display: inline-block
    vertical-align: top
    width: 33px
    height: 31px
    margin-top: 25px
    background: url('../img/decor-circles.png') -49px -0
    transition: all 1.5s

.decor-circles--animated 
  .decor-circles__first
    animation-name: rotation
    animation-duration: 5s
    animation-iteration-count: infinite
    animation-timing-function: linear
  .decor-circles__second
    animation-name: rotation
    animation-duration: 3s
    animation-iteration-count: infinite
    animation-timing-function: linear
    animation-direction: reverse