html 
  box-sizing: border-box

*, *:before, *:after 
  box-sizing: inherit

body 
  min-width: 320px
  font-family: $font-main
  font-size: 18px
  line-height: 1.4
  color: #444444

a 
  color: inherit
  text-decoration: none

h1, h2 
  font-weight: 800
  color: #383334

strong  
  font-weight: 500 
  color: #000

.row 
  display: flex
  flex-wrap: wrap
  
.container
  outline: 1px solid green
  max-width: 1200px
  margin: 0 auto
  padding: 0 15px
  +media-lg
    max-width: 960px
  +media-md
    max-width: 720px
  +media-sm
    max-width: 430px
  +media-xs
    width: auto

.section-title 
  margin: 0 
  margin-bottom: 34px
  font-size: 44px
  line-height: 1
  font-weight: 800
  color: #383334
  +media-sm
    margin-bottom: 25px
    font-size: 40px

.section-subtitle 
  margin: 0
  margin-bottom: 30px
  font-size: 24px
  line-height: 1.2
  font-weight: 800
  color: #2b2828
  +media-sm
    font-size: 20px


